@import '../../core/stylesheets/variables.scss';

.md-app-template {
  display: flex;
  flex-flow: column;
  overflow: auto;
  position: relative;

  &.md-fixed {
    overflow: hidden;

    .md-content {
      overflow: auto;
    }
  }

  &.md-scroll-reveal {
    transform: translateZ(0);
    transition: $swift-ease-in-out;

    .md-toolbar {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      transform: translate3D(0, 0, 0);
      transition: $swift-ease-out;
      transition-property: transform;
    }
  }

  .md-toolbar {
    position: relative;
    z-index: 2;
  }

  .md-content {
    padding: 16px;
    position: relative;
    z-index: 1;
  }
}
