@import '../../core/stylesheets/variables.scss';
@import '../../core/stylesheets/mixins.scss';

.md-datepicker {
  display: flex;
  flex: 1;

  .md-icon {
    cursor: pointer;
  }

  input::-webkit-calendar-picker-indicator{
    display: none;
  }
}

.md-datepicker-backdrop {
  display: none;
  position: fixed;
  z-index: 120;

  @include layout-small {
    display: block;
  }
}

.md-datepicker-popup {
  display: flex;
  overflow: hidden;
  position: fixed;
  z-index: 81;
  background-clip: padding-box;
  border-radius: 2px;
  box-shadow: $material-shadow-4dp;
  opacity: 0;
  transform: translate3D(0, -16px, 0);
  transition: opacity $swift-ease-out-duration $swift-ease-out-timing-function,
              transform .8s $swift-ease-out-timing-function;

  @include layout-small {
    box-shadow: $material-shadow-14dp;
    top: 50% !important;
    left: 50% !important;
    z-index: 121;
    transform: translate3d(-50%, -55%, 0);
  }

  @include layout-xsmall {
    flex-direction: column;
  }

  &.md-active {
    opacity: 1;
    transform: translate3D(0, 0, 0);
    transition: $swift-ease-out;
    transition-property: opacity, transform;

    @include layout-small {
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

.md-datepicker-header {
  width: 172px;
  padding: 16px;

  @include layout-xsmall {
    width: auto;
    padding: 16px 20px;
  }

  .md-datepicker-year-select {
    cursor: pointer;
    transition: $swift-ease-out;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 24px;
  }

  .md-datepicker-date-select {
    cursor: pointer;
    transition: $swift-ease-out;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 1.2em;
  }

  .md-datepicker-dayname {
    display: block;

    @include layout-xsmall {
      display: inline-block;
    }
  }
}

.md-datepicker-body {
  width: 372px;

  @include layout-xsmall {
    width: 296px;
  }
}

.md-datepicker-calendar {
  padding: 8px;
  text-align: center;

  .md-datepicker-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .md-button {
    margin: 0;
  }

  .md-datepicker-week-days {
    padding: 8px 0;
    margin: 0 -4px;
    display: flex;
    font-size: 12px;

    @include layout-xsmall {
      margin: 0;
    }

    span {
      flex: 1;
    }
  }

  .md-datepicker-days {
    margin: 0 -4px;
    display: flex;
    flex-wrap: wrap;

    @include layout-xsmall {
      margin: 0;
    }

    .md-button {
      $button-dense-height: 32px;

      width: $button-dense-height;
      min-width: $button-dense-height;
      max-width: $button-dense-height;
      height: $button-dense-height;
      min-height: $button-dense-height;
      margin: 0 10px;
      padding: 0;
      flex: 1 1 (100% / 7);
      transition: $swift-ease-out;
      font-size: 12px;
      line-height: $button-dense-height;

      @include layout-xsmall {
        $button-height: 40px;

        width: $button-height;
        min-width: $button-height;
        max-width: $button-height;
        height: $button-height;
        min-height: $button-height;
        margin: 0;
        line-height: $button-height;
      }

      &:not(.md-empty):hover,
      &.md-selected,
      &.md-today {
        font-weight: 700;
      }
    }
  }
}

.md-datepicker-years {
  max-height: 260px;
  padding: 0 8px 7px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;

  @include layout-xsmall {
    flex-flow: column;
  }
}

.md-datepicker-year {
  min-width: 68px;
  margin: 8px 0;
  flex: 1;

  &.md-primary {
    font-weight: 900;

    @include layout-xsmall {
      font-size: 22px;
    }
  }
}
